In [1]:
import dask.dataframe as dd

In [2]:
import pandas as pd

In [3]:
df_cct = dd.read_csv("D:\Statapp\data\credit_card_transactions-ibm_v2.csv", dtype='str')

In [4]:

df = df_cct.get_partition(69)
df["Half_amount"] = df["Amount"].str[:5]

In [5]:
df.compute()

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?,Half_amount
0,1965,0,2014,8,9,23:33,$22.39,Online Transaction,-1717204353858842616,ONLINE,NaN,NaN,5192,NaN,No,$22.3
1,1965,0,2014,8,11,06:48,$34.54,Online Transaction,-7421093378627544099,ONLINE,NaN,NaN,5311,NaN,No,$34.5
2,1965,0,2014,8,11,10:43,$23.25,Swipe Transaction,8919682822789039434,Narberth,PA,19072.0,5814,NaN,No,$23.2
3,1965,0,2014,8,12,06:06,$55.77,Swipe Transaction,-4051610135453927412,Newtown Square,PA,19073.0,5541,NaN,No,$55.7
4,1965,0,2014,8,12,06:07,$88.00,Swipe Transaction,-4051610135453927412,Newtown Square,PA,19073.0,5541,NaN,No,$88.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344313,1999,1,2020,2,27,22:23,$-54.00,Chip Transaction,-5162038175624867091,Merrimack,NH,3054.0,5541,NaN,No,$-54.
344314,1999,1,2020,2,27,22:24,$54.00,Chip Transaction,-5162038175624867091,Merrimack,NH,3054.0,5541,NaN,No,$54.0
344315,1999,1,2020,2,28,07:43,$59.15,Chip Transaction,2500998799892805156,Merrimack,NH,3054.0,4121,NaN,No,$59.1
344316,1999,1,2020,2,28,20:10,$43.12,Chip Transaction,2500998799892805156,Merrimack,NH,3054.0,4121,NaN,No,$43.1
344317,1999,1,2020,2,28,23:10,$45.13,Chip Transaction,4751695835751691036,Merrimack,NH,3054.0,5814,NaN,No,$45.1

In [7]:
df.to_parquet(r"D:\Statapp\Lisa\test.parquet")

In [8]:
df.to_csv(r"D:\Statapp\Lisa\test.csv")

['D:\\Statapp\\Lisa\\test.csv\\0.part']

In [9]:
df.drop_duplicates()
print(len(df))

344318